.header-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 500px;
  height: 60px;
  padding: 0 20px;
}

.header-logo {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.right-section {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
